body {
  background: rgb(72, 72, 72);
}

.header-content {
  text-align: left;
}

.btn {
  background: transparent;
  border: none;
  background-color: rgb(151, 149, 153);
  color: #fff;
  padding: 10px 20px;
}

/* JavaScript */
.cats {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.random_cats {
  width: 50%;
}

img {
  max-width: 600px;
  height: 30rem;
}
